
@media (min-width: 30em) {
	#cta-block
	{
		padding: 3em;
	}

	.navbar-nav>li>a 
	{
		padding-top: 15px;
	}
	.navbar-brand img
	{
		width: auto;
	}
	#cta-block p
	{
		padding: 0;
	}
}

@media (min-height: 750px) and (min-width: 1050px) {
	body
	{
		background: url(../img/trnear_main_bkgd_lg_01.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	main
	{
		padding-top: 90px;
	}
	.navbar
	{
	    position: fixed;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}
	.centered-container
	{
		top: calc(50% - 45px);
		transform: translateY(-50%);
	}
}
